:root {
  --fg-color: blue;
  --bg-color-1: gray;
  --bg-color-2: lightblue;
  --bg-color-3: white;
  --warning: red;
  --bigger-font-size: 1.2em
}

.columns{
  display:flex;
  width: 100%;
}
.columns *{
  flex-grow:1;
}

.box {
  margin: 0.25em;
  border: 1px solid var(--bg-color-1);
  padding: 0.25em;
  background-color: var(--bg-color-3)
}

body {
  width: 75%;
  margin: auto;
  background-color: var(--bg-color-2)
}

.bold {
  font-size: var(--bigger-font-size);
  font-weight: bold;
  color: var(--fg-color);
}

.label{
  display: inline-block;
  width: 5em;
}

.delete{
  width: 10em;
  background-color: var(--warning);
  color: var(--bg-color-3);
}

app-console, app-addperson, app-messages, app-people, app-chosenpeople {
  margin: 0.25em;
  border: 1px solid var(--bg-color-1);
  padding: 0.25em;
  background-color: var(--bg-color-3)
}